.footer {
    &>p {
        color: white;
        font-size: 1.2rem;
        text-align: center;
    }

    a {
        text-decoration: none;
        text-align: center;
    }

    .links {
        text-align: center;
        margin: 2.5rem 0;
        color: white;
        font-size: 1.15rem;
    }

    padding: 4.5rem 0;
    background: #000000;
}